## Mini-Projeto 2 - Detecção de Fraudes em Transações Financeiras com Deep Learning

In [1]:
# Esse pacote deve ser instalado. Caso o jupyter notebook não o reconheça, reinicie o jupyter após a instalação.
!pip install imblearn -q

WARNING: You are using pip version 20.3; however, version 20.3.1 is available.
You should consider upgrading via the '/home/lucas/anaconda3/bin/python -m pip install --upgrade pip' command.

In [2]:
!pip install scikit-plot -q

WARNING: You are using pip version 20.3; however, version 20.3.1 is available.
You should consider upgrading via the '/home/lucas/anaconda3/bin/python -m pip install --upgrade pip' command.

In [3]:
# Import Packages
# Pacotes de Manipulação de Dados
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

# Keras e TensorFlow
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

# Pacote Para Balanceamento de Classes
import imblearn

# Visualização de Dados
import matplotlib.pyplot as plt
import seaborn as sn
import scikitplot as skplt
%matplotlib inline
plt.rcParams['figure.figsize'] = (16.0, 4.0)

In [4]:
# Carregando os dados
df = pd.read_csv('/home/lucas/Documents/ia-lucas-dados/dados/DeepLearningI/Cap02/creditcard.csv', low_memory = False)

In [5]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
# Analise Exploratoria de Dados
df.shape

(49300, 31)

In [7]:
# Visualizar os tipos de dados de cada coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49300 entries, 0 to 49299
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    49300 non-null  int64
 1   V1      49300 non-null  float64
 2   V2      49300 non-null  float64
 3   V3      49300 non-null  float64
 4   V4      49300 non-null  float64
 5   V5      49300 non-null  float64
 6   V6      49300 non-null  float64
 7   V7      49300 non-null  float64
 8   V8      49300 non-null  float64
 9   V9      49300 non-null  float64
 10  V10     49300 non-null  float64
 11  V11     49300 non-null  float64
 12  V12     49300 non-null  float64
 13  V13     49300 non-null  float64
 14  V14     49300 non-null  float64
 15  V15     49300 non-null  float64
 16  V16     49300 non-null  float64
 17  V17     49300 non-null  float64
 18  V18     49300 non-null  float64
 19  V19     49300 non-null  float64
 20  V20     49300 non-null  float64
 21  V21     49300 non-null  float64
 22  V22     49300 non-null  float64
 23  V23     49300 non-null  float64
 24  V24     49300 non-null  float64
 25  V25     49299 non-null  float64
 26  V26     49299 non-null  float64
 27  V27     49299 non-null  float64
 28  V28     49299 non-null  float64
 29  Amount  49299 non-null  float64
 30  Class   49299 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 11.7 MB

In [9]:
# Verifying if dataset has null values
df.isna().any()

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25        True
V26        True
V27        True
V28        True
Amount     True
Class      True
dtype: bool